.condition-box {
  background-color: #f8f9fb;
  border: 1px solid #979797;
  border-radius: 5px;
}

.condition-header {
  border-bottom: 1px solid #979797;
  padding: 10px 0px 7px 15px;

  .send-alert-text {
    color: #3b4859;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
  }

  .time-series-text {
    display: inline-block;
    background-color: #efefef;
    color: #2662f0;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    vertical-align: top;
    padding: 0 15px 0 10px;
  }
  .greater-select {
    display: inline-block;
    padding: 0 0 0 0;
  }
  .greater-select select {
    background-color: #efefef;
    color: #414d55;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    border: none;
    width: 200px;
  }
  .greater-search {
    display: inline-block;
    padding: 0 0 0 10px;
  
    input {
      border: 1px solid #8392a7;
      border-radius: 4px;
      background-color: #f8f9fb;
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      line-height: 38px;
      height: 38px;
      padding: 0 10px;
    }
  }
  .time-series-preview-box {
    display: block;
    padding: 15px 20px;
    min-height: 350px;
    height: 350px;
  }
}
