.disaster-recovery-container {
  width: 100%;
  display: block;
  padding: 30px 20px;
  background-color: #f6f7fb;
  .services-panel-tabs {
    display: block;
    width: 100%;
    .tabs-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        color: #383874;
        margin-bottom: 0;
        display: inline-flex;
      }
      ul {
        display: inline-flex;
        width: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 30px;
        background-color: #dbdff1;
        box-shadow: 0px 41.7776px 33.4221px rgba(108, 73, 172, 0.0503198);
        li {
          width: auto;
          display: inline-block;
          vertical-align: top;
          font-size: 11px;
          line-height: 20px;
          font-weight: 500;
          color: #000000;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 25px;
          padding-right: 25px;
          border-radius: 30px;
          cursor: pointer;
          &.active {
            color: #ffffff;
            background-color: #3247e5;
          }
        }
      }
    }
    .tabs-content {
      display: block;
      width: 100%;
      margin-top: 20px;

      .topology-panel {
        display: block;
        padding: 0px;
        margin-top: 0px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 41.7776px 33.4221px rgba(108, 73, 172, 0.0503198);

        .topology-panel-title {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 15px;
          border-bottom: 1px dashed #d9d9d9;
          .name {
            display: inline-flex;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: #383874;
            margin-left: 10px;
          }
        }
        .topology-panel-body {
          height: 355px;
          display: flex;
          align-items: center;
          width: 100%;
          padding: 20px 20px;
          position: relative;
          overflow: hidden;
          overflow-y: auto;

          .gmnoprint {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 30px;
            z-index: 1;

            .gmnoprint-plus-minus {
              display: block;
              width: 100%;
              margin-bottom: 10px;
              box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);

              .btn {
                display: block;
                color: #023aff;
                font-size: 14px;
                line-height: 30px;
                width: 30px;
                height: 30px;
                border: none;
                cursor: pointer;
                padding: 0;
                text-align: center;
                background-color: #ffffff;
              }
            }
          }

          .topology-inner-body {
            display: flex;
            width: 100%;
            margin-top: auto;
            margin-bottom: auto;
          }

          .topology-text-box {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            position: relative;
            margin-right: 70px;
            vertical-align: text-top;
            width: 28%;
            height: 48px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 500;
            color: #ffffff;
            background: #384cff;
            border-radius: 10px;
            padding: 0 10px;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);

            &.active {
              border-color: #00861b;
            }
            .account-image {
              padding: 4px;
              width: 30px;
              height: 30px;
              border-radius: 3px;
              background: #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;
            }
          }

          .global-servies {
            display: inline-flex;
            width: 35%;
            flex-wrap: wrap;
            margin-right: 0px;

            &.cluster-servies {
              width: 26%;
              &::after {
                top: auto;
                bottom: 45px;
              }
            }

            &:last-child {
              margin-right: 0;

              &::after {
                display: none;
              }
            }

            .global-servies-menu {
              margin-top: 0;
              display: flex;
              width: 100%;
              flex-wrap: wrap;
              border-radius: 10px;
              overflow: hidden;
              background-color: #ffffff;
              border: 1px solid #a5a5d7;
              box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);

              label {
                display: flex;
                justify-content: center;
                text-align: center;
                flex-wrap: wrap;
                width: 100%;
                height: auto;
                padding-top: 7px;
                padding-bottom: 7px;
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                color: #383874;
                cursor: pointer;
                border-bottom: 1px solid #a5a5d7;

                &:last-child {
                  border: none;
                }

                &.active {
                  color: #ffffff;
                  background-color: #416bff;
                }

                span {
                  display: inline-block;
                  width: 12px;
                  margin-right: 5px;
                  margin-top: -2px;

                  img {
                    max-width: 100%;
                    height: auto;
                    vertical-align: middle;
                  }
                }
              }
            }

            ul {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              list-style: none;
              position: relative;
              border-radius: 10px;
              border: 1px solid #a5a5d7;
              box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);

              li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-transform: capitalize;
                width: 100%;
                height: 36px;
                font-size: 13px;
                line-height: 36px;
                font-weight: 500;
                color: #383874;
                padding-left: 12px;
                padding-right: 12px;
                cursor: pointer;
                position: relative;
                border-bottom: 1px solid #a5a5d7;

                &:first-child {
                  border-top-left-radius: 9px;
                  border-top-right-radius: 9px;
                }

                &:last-child {
                  border-bottom: none;
                  border-bottom-right-radius: 9px;
                  border-bottom-left-radius: 9px;
                }

                &.active {
                  color: #ffffff;
                  background-color: #384cff;
                  padding-left: 8px;
                  padding-right: 8px;
                  span {
                    width: 20px;
                    height: 20px;
                    padding: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #ffffff;
                    border-radius: 50%;
                  }
                  &::after {
                    opacity: 1;
                  }
                }

                span {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  padding: 5px;
                  border-radius: 50%;
                  background-color: #f6f7fb;
                  margin-right: 8px;

                  img {
                    max-width: 100%;
                    height: auto;
                    max-height: 12px;
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }
      }

      .cloud-managed-cards {
        background: #ffffff;
        padding: 10px 0;
        border-radius: 5px;
        display: block;
        overflow: hidden;
        overflow-x: auto;
        width: 100%;
        height: 400px;
        box-shadow: 0px 41.7776px 33.4221px rgba(108, 73, 172, 0.0503198);
        .cloud-managed-cards-scroll {
          display: flex;
          flex-wrap: wrap;
          width: 700px;
          margin: 10px 8px;
          .service-card {
            margin: 0 5px 10px;
            width: 165px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: #ffffff;
            border-radius: 5px;
            padding: 20px 10px;
            border: 2px solid #f4f4f4;

            .service-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: #f6f7fb;
              padding: 10px;
            }

            .service-contant {
              margin-left: 10px;

              label {
                width: 90px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                display: block;
                color: #383874;
                margin-bottom: 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              strong {
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                display: block;
                color: #383874;
              }
            }

            &.active {
              border-color: #384cff;
            }
          }
        }

        .application-balancer {
          display: flex;
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 20px;
          .primary-btn {
            p {
              display: inline-block;
              margin: 0 5px 0 0;
              background-color: #ffffff;
              border-radius: 5px;
              padding: 3px 5px;
            }
          }
          .balancer-boxs {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 15px;
            .balancer-box {
              width: 36px;
              margin-left: 15px;
              margin-right: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              span {
                display: flex;
                justify-content: center;
                width: 100%;
              }
              .icon {
                display: inline-flex;
                width: 36px;
                height: 36px;
                align-items: center;
                justify-content: center;
                background: linear-gradient(45deg, #C8511B -4950%, #FF9900 5050%);
                border-radius: 5px;
                padding: 5px;
                margin-top: 7px;
                margin-bottom: 7px;
                img {
                  max-width: 20px;
                }
              }
              p{
                display: flex;
                width: 100%;
                justify-content: center;
                text-align: center;
                margin: 0;
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                color: #383874;
              }
            }
          }
        }
      }

      .resources-cards {
        display: block;
        width: 100%;
        margin-top: 30px;
        .heading {
          display: block;
          font-size: 16px;
          line-height: 22px;
          font-weight: 500;
          color: #000000;
          margin-bottom: 7px;
        }
        .resources {
          background: #ffffff;
          padding-top: 10px;
          border-radius: 5px;
          display: block;
          width: 100%;
          height: auto;
          box-shadow: 0px 41.7776px 33.4221px rgba(108, 73, 172, 0.0503198);

          .resources-inner {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 10px 8px;
            .card-box {
              margin: 0 10px 20px;
              width: 150px;
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
              flex-wrap: wrap;
              background: #ffffff;
              border-radius: 7px;
              padding: 20px 10px;
              border: 1px solid rgba(0, 0, 0, 0.05);
              box-shadow: 0px 100px 80px 0px #6c49ac12;
              strong {
                display: block;  
                text-align: center;
                width: 100%;
                font-size: 24px;
                line-height: 30px;
                font-weight: 500;
                color: #8676FF;
                margin-bottom: 3px;
              }
              span {
                display: block;
                text-align: center;
                width: 100%;
                font-size: 15px;
                line-height: 20px;
                font-weight: 400;
                color: #383874;
              }
            }
          }
        }
      }

      .generated-box {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 66%;
        border-radius: 5px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        padding: 8px 15px;
        background-color: #00b929;
        i {
          margin-right: 5px;
        }
      }

      .disaster-recovery-chart {
        display: block;
        width: 100%;
        margin-top: 20px;
        .chart {
          display: block;
          width: 100%;
          min-height: 450px;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
          border-radius: 10px;
          .heading {
            display: block;
            width: 100%;
            padding: 10px 15px;
            border-bottom: 1px solid #eef0fa;
            h3 {
              font-size: 16px;
              font-weight: 600;
              line-height: 36px;
              color: #383874;
              margin-bottom: 0;
              display: inline-block;
            }
            .primary-btn {
              float: right;
            }
          }
        }
        .failover-box {
          display: block;
          width: 100%;
          min-height: 450px;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
          border-radius: 10px;
          .heading {
            display: block;
            width: 100%;
            padding: 10px 15px;
            border-bottom: 1px solid #eef0fa;
            h3 {
              font-size: 16px;
              font-weight: 600;
              line-height: 20px;
              color: #383874;
              margin-bottom: 0;
              display: inline-block;
            }
          }

          .item-generated {
            display: block;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #383874;
            padding: 10px 15px;
            span {
              display: inline-block;
              padding: 0 5px;
              font-size: 12px;
              font-weight: 500;
              line-height: 24px;
              background-color: #e7e7e7;
              border-radius: 5px;
              color: #667085;
              vertical-align: middle;
            }
          }

          .steps {
            display: block;
            padding: 0 15px;
            list-style: none;
            li {
              display: block;
              padding: 0;
              position: relative;
              margin-bottom: 25px;
              &:last-child {
                margin-bottom: 0;
                &::after {
                  display: none;
                }
              }
              &::after {
                content: "";
                height: 100%;
                width: 1px;
                position: absolute;
                top: 28px;
                left: 12px;
                border-radius: 3px;
                background-color: #8676ff;
              }
              .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                font-size: 12px;
                line-height: 14px;
                font-weight: 500;
                position: relative;
                z-index: 1;
                &.initiated {
                  color: #ffffff;
                  background-color: #00b929;
                }
                &.pending {
                  color: #383874;
                  background-color: #dbdff1;
                }
                &.approved {
                  color: #ffffff;
                  background-color: #00b929;
                }
              }
              .contents {
                display: block;
                .heaing {
                  display: block;
                  font-size: 14px;
                  line-height: 18px;
                  color: #383874;
                  font-weight: 400;
                  padding-bottom: 5px;
                }
                .schedule-time {
                  display: block;
                  margin-bottom: 10px;
                  span {
                    display: block;
                    font-size: 11px;
                    line-height: 14px;
                    font-weight: 600;
                    color: #1b4dffed;
                  }
                  p {
                    display: block;
                    font-size: 11px;
                    line-height: 14px;
                    font-weight: 500;
                    color: #383874;
                    margin: 0;
                  }
                }
                .status {
                  display: inline-block;
                  padding: 8px 12px;
                  border-radius: 25px;
                  font-size: 11px;
                  line-height: 14px;
                  font-weight: 600;
                  margin-bottom: 5px;

                  &.initiated {
                    background-color: #e5e1ff;
                    color: #8676ff;
                  }
                  &.pending {
                    background-color: #ffba6947;
                    color: #ffba69;
                  }
                  &.approved {
                    background-color: #cfffda;
                    color: #00b929;
                  }
                }
                .time-date {
                  display: block;
                  font-size: 11px;
                  line-height: 14px;
                  font-weight: 400;
                  color: #8198be;
                }
              }
            }
          }

          .no-avaliable-box {
            display: block;
            width: 100%;
            padding: 75px 15px;
            text-align: center;
            .image {
              display: inline-block;
              margin-bottom: 10px;
            }
            strong {
              display: inline-block;
              font-size: 14px;
              font-weight: 600;
              line-height: 18px;
              color: #383874;
            }
            p {
              display: inline-block;
              font-size: 11px;
              font-weight: 400;
              line-height: 16px;
              color: #b9bec6;
              margin: 0;
            }
          }
        }
      }

      .activity-logs-table {
        display: block;
        width: 100%;
        margin-top: 20px;
        padding: 15px 20px;
        min-height: 450px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
        border-radius: 10px;

        .heading {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 36px;
            color: #383874;
            margin-bottom: 0;
            display: inline-block;
          }
        }

        .table {
          tr {
            th {
              padding-top: 8px;
              padding-bottom: 8px;
              font-size: 14px;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
              color: #383874;
            }
            td {
              padding-top: 8px;
              padding-bottom: 8px;
              font-size: 13px;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
              color: #383874;
              .icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                background-color: #f4ebff;
                border-radius: 50%;
                margin-right: 10px;
                width: 32px;
                height: 32px;
                padding: 3px;
                img {
                  max-width: 14px;
                }
              }
              .status {
                display: inline-block;
                padding: 8px 5px;
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                border-radius: 10px;
                max-width: 100px;
                min-width: 100px;
                text-align: center;
                &.success {
                  color: #383874;
                  border: 2px solid #1cf34c;
                  background-color: #ecfff0;
                  i {
                    color: #00b929;
                    margin-right: 3px;
                  }
                }
                &.failed {
                  color: #ff2d2e;
                  border: 2px solid #ff2d2e;
                  background-color: #f8ebeb;
                  i {
                    color: #ff2d2e;
                    margin-right: 3px;
                  }
                }
              }
              .secondary-btn {
                background-color: #dde1f8;
                color: #383874;
              }
            }
            &:last-child {
              td {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
