.create-department-container {
  background: #ffffff;
  border-radius: 10px;
  height: 550px;
  margin-top: 20px;
  padding: 50px 15px 15px 15px;
  .create-department-content {
    width: 100%;
    display: block;
    height: 90%;
    
  }
}
