.product-category-container {
    .product-title-card {
        margin-top: 17px;
        padding: 16px 11px;
        box-shadow: none;

        h3 {
            margin-bottom: 0;
            color: #000000;
            font-size: 16px;
        }

        button {
            &.primary-btn {
                min-width: auto;
                padding: 6px 18px;
            }
        }
    }

    .product-info-card {
        margin-top: 4px;
        box-shadow: none;
        min-height: 156px;
        padding: 11px 15px;

        .content {


            font-size: 11px;
            line-height: 16px;
            color: #667085;

        }

        .service-container {
            display: flex;

            .service-card {
                min-width: 105px;
                min-height: 100px;
                box-shadow: 0px 100px 80px 0px #6C49AC12;
                margin-right: 15px;
                border-radius: 6px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .service-details {
                text-align: center;
                padding: 16px 18px;
                cursor: pointer;

                .name {
                    margin-top: 8px;
                    font-size: 15px;
                    line-height: 28px;
                    color: #344054;
                    font-weight: 500;
                }
            }
        }
    }
   
      
}