.product-category-container {
  .product-title-card {
    margin-top: 17px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 6px;
    h3 {
      margin-bottom: 0;
      color: #000000;
      font-size: 16px;
    }

    button {
      &.primary-btn {
        min-width: auto;
        padding: 6px 18px;
      }
    }
  }

  .product-category-cards {
    margin-top: 4px;
    box-shadow: none;
    min-height: 156px;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 6px;
    display: inline-flex;
    width: 100%;

    .content {
      font-size: 11px;
      line-height: 16px;
      color: #667085;
    }

    .product-category-card {
      width: 105px;
      height: 105px;
      margin-right: 15px;
      border-radius: 6px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 41.777610778808594px 33.422088623046875px 0px #6c49ac0d;
      &:last-child {
        margin-right: 0;
      }
      .product-category-details{
        text-align: center;
        .product-image{
          width: 35px;
          height: 35px;
          margin: 0 auto;
        }
        .name {
          margin-top: 8px;
          font-size: 15px;
          line-height: 28px;
          color: #344054;
          font-weight: 500;
        }
      }
    }
  }
}
