
.select-account-modal-container {
  max-width: 550px !important;
  -webkit-box-shadow: 0px 0px 16px #3b48593d;
  box-shadow: 0px 0px 16px #3b48593d;
  border-radius: 10px;
  background: white;
  margin: 0 auto;
}

.select-account-modal-container .modal-content {
  padding: 15px;
}

.select-account-modal-container .modal-content .modal-header {
  background: white;
  box-shadow: none;
  border-bottom: none;
  margin-bottom: 20px;
  padding: 0 10px 10px;
  position: relative;
}

.select-account-modal-container .modal-content .modal-header .modal-title {
  color: #383874!important;
  text-align: center !important;
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.select-account-modal-container .modal-content .modal-header button {
  position: absolute;
  right: 0;
  top: -6px;
  color: #b5b5cf;
  opacity: 1;
  
}

.select-account-modal-container .modal-content .modal-body {
  padding: 0px 10px;
  color: #3b4859;
}
.select-account-modal-container .modal-content .modal-body h4{
  font-size: 14px;
 line-height: 18px;
 font-weight: 600;
 color: #000000;
}
.select-account-modal-container .modal-content .modal-body label {
 font-size: 12px;
 line-height: 16px;
 font-weight: 500;
 color: #383874;
 margin-left: 5px;
}
.select-account-modal-container .modal-content .modal-body .form-group label{
    text-align: left;
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 8px 0;
}
.select-account-modal-container .modal-content .modal-body .form-group .form-control{
    text-align: left;
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
}
.select-account-modal-container .modal-content .modal-body .environment-box{
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #b5b5cf;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  cursor: pointer;
}
.select-account-modal-container .modal-content .modal-body .environment-box .envir-image{
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto 10px;
}
.select-account-modal-container .modal-content .modal-body .environment-box .department{
  background-image: url("../../assets/img/assetmanager/envir-light1.png");
}
.select-account-modal-container .modal-content .modal-body .environment-box .testing{
  background-image: url("../../assets/img/assetmanager/envir-light2.png");
}
.select-account-modal-container .modal-content .modal-body .environment-box .stage{
  background-image: url("../../assets/img/assetmanager/envir-light3.png");
}
.select-account-modal-container .modal-content .modal-body .environment-box .production{
  background-image: url("../../assets/img/assetmanager/envir-light4.png");
}
.select-account-modal-container .modal-content .modal-body .environment-box .environment-title{
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #9a9aaf;
}
.select-account-modal-container .modal-content .modal-body .environment-box:active{
  border: 1px solid #383874;
}
.select-account-modal-container .modal-content .modal-body .environment-box:active .department{
  background-image: url("../../assets/img/assetmanager/envir-dark1.png");
}
.select-account-modal-container .modal-content .modal-body .environment-box:active .testing{
  background-image: url("../../assets/img/assetmanager/envir-dark2.png");
}
.select-account-modal-container .modal-content .modal-body .environment-box:active .stage{
  background-image: url("../../assets/img/assetmanager/envir-dark3.png");
}
.select-account-modal-container .modal-content .modal-body .environment-box:active .production{
  background-image: url("../../assets/img/assetmanager/envir-dark4.png");
}
.select-account-modal-container .modal-content .modal-body .environment-box:active .environment-title{
  color: #383874;
  font-weight: 600;
}


.select-account-modal-container .modal-content .modal-footer {
  padding: 20px 15px 0px;
  background: none;
  border: none;
  border-top: none;
}

.select-account-modal-container .modal-content .modal-footer .blue-button {
  border-radius: 7px !important;
}

.select-account-modal-container .modal-content .modal-footer .gray-button {
  border-radius: 7px !important;
}

.select-account-modal-container .modal-content .modal-footer .white-button {
  border-radius: 7px !important;
}






