.perfmanager-modal-container {
  border-radius: 0!important;
  .modal-content {
    .modal-body{
      img{
        max-width: 100%;
        height: auto;
        vertical-align: top;
      }
      .form-group{
        padding-bottom: 20px;
        label{
          display: inline-block;
          font-size: 13px;
          font-weight: 500;
          line-height: 34px;
          color: #3B4859;
          padding-right: 20px;
          vertical-align: top;
          width: 30%;
        }
        .input-group-text{
          background-color: #FFFFFF;
          border: 1px solid #8392A7;
          border-radius: 4px;
          display: inline-block;
          font-size: 13px;
          font-weight: 500;
          line-height: 34px;
          color: #3B4859;
          padding: 0 10px;
          width: 100%;
          text-align: left;
          vertical-align: top;
          height: auto;
          &.file{
            line-height: inherit;
            height: 34px;
            padding-top: 5px;
          }
        }
        .form-control{
          background-color: #f0f3f7 !important;
          border: none !important;
          font-size: 13px;
          height: 36px;
          cursor: pointer;
          width: 250px;
          display: inline-block;
        }
        .select-checkbox{
          display: block;
          padding-top: 10px;
          padding-bottom: 0px;
          .checkbox{
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
          }
          span{
            display: inline-block;
            padding-right: 5px;
            width: 18px;
            height: 18px;
            vertical-align: middle;
          }
          p{
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            color: #3B4859;
            vertical-align: top;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &.preview-dashboard-popup {
    .nabtn-close {
      position: absolute;
      right: -20px;
      top: -20px;
      border: none!important;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      font-size: 18px;
      color: #6f7682;
      margin: 0!important;
      padding: 0!important;
      background: #f0f3f7!important;
      &:hover {
        background-color: #3b7cff!important;
        color: #ffffff;
      }
    }
  
    .nabtn-left {
      position: absolute;
      left: -20px;
      top: 45%;
      border: none!important;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      font-size: 32px;
      color: #6f7682;
      margin: 0!important;
      padding: 0!important;
      background: #f0f3f7!important;
  
      &:hover {
        background-color: #3b7cff!important;
        color: #ffffff;
      }
    }
  
    .nabtn-right {
      position: absolute;
      right: -20px;
      top: 45%;
      border: none!important;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      font-size: 32px;
      color: #6f7682;
      margin: 0!important;
      padding: 0!important;
      background: #f0f3f7!important;
      &:hover {
        background-color: #3b7cff!important;
        color: #ffffff;
      }
    }
  
    .slider-buttons {
      position: absolute;
      left: 0;
      bottom: -5px;
      z-index: 10;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
      list-style: none;
  
      .button {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 1px solid #6f7682;
        margin: 0 4px;
        cursor: pointer;
  
        &:hover {
          background-color: #3b7cff;
          border-color: #3b7cff;
        }
  
        &.active {
          background-color: #3b7cff;
          border-color: #3b7cff;
        }
      }
    }
  
    .slider-content {
      display: block;
      width: calc(100% - 100px);
      height: 480px;
      overflow: hidden;
      overflow-y: scroll;
      margin-left: 50px;
      margin-right: 50px;
  
      .item-image {
        display: none;
        width: 100%;
        text-align: center;
  
        &.active {
          display: block;
        }
  
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}