.new-reports-container {
  width: 100%;
  display: block;
  padding: 30px 40px;
  background-color: #f6f7fb;
  .list-heading {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h3 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      color: #383874;
      margin-bottom: 0;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      //   width: 30%;
    }
  }
}
.chart-tooltip-contents {
  display: block;
  width: auto;
  background-color: #1e2129;
  border-radius: 5px;
  .value {
    display: block;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
  }
}
.table-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .check-box-group{
    display: flex;
    .check-box{
      padding: 5px;
    }
    label{
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      color: #383874;
    }
  }
}
