.perfmanager-page-container {
  background-color: $perfmanager-container-background-color;
  margin: 10px 20px;
  border-radius: 10px;
  padding-bottom: 10px;
  .library-search {
    .float-right {
      display: flex;
      align-items: baseline;
      justify-content: end;
    }
  }
}

.common-right-btn {
  .alert-white-button {
    margin-right: 0;
  }
}

.fliter-sort-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .sort-select-menu {
    margin-bottom: 0;
  }
  .sort-checkbox{
      padding-top: 0;
      margin-right: 0;
  }
 
}
.fliter-sort-right{
  display: flex;
  align-items: center;
  justify-content: end;
  .sort-select-menu {
    margin-bottom: 0;
  }
  .sort-checkbox{
      padding-top: 0;
      margin-right: 0;
  }
}
@media (max-width: 991px) {
  .fliter-sort-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .fliter-sort-right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
  }
}

