.perfmanager-page-container {
  background-color: $perfmanager-container-background-color;
  margin: 10px 20px;
  border-radius: 10px;
  padding-bottom: 10px;
  .library-search {
    .float-right {
      display: flex;
      align-items: baseline;
      justify-content: end;
    }
  }
}

.common-right-btn {
  .alert-white-button {
    margin-right: 0;
  }
}
