.clearhistory-page-container{
    .result-details-box{
        border: 1px solid #3B4859;
        margin-top: 20px;
        background-color: #ffffff;
        .result-details-heading{
            border-bottom: 1px dashed #ced4da;
            padding: 10px 15px;
            display: block;
            .heading-left{
                display: inline-block;
                width: 75%;
                text-align: left;
                label{
                    display: inline-block;
                    font-size: 14px;
                    color: #3B4859;
                    font-weight: 400;
                    padding-right: 10px;
                    line-height: 32px;
                }
                span{
                    display: inline-block;
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: 400;
                    padding-right: 20px;
                    padding-left: 20px;
                    line-height: 32px;
                    background-color: #2f8044;
                }
            }
            .heading-right{
                display: inline-block;
                width: 25%;
                text-align: right;
                a{
                    font-size: 12px;
                    line-height: 32px;
                    font-weight: 400;
                    color: #18ceff;
                }
            }
        }
        .result-details{
            padding: 10px 15px;
            display: block;
            .result-details-code-main{
                display: block;
                .result-details-code{
                    display: inline-block;
                    width: 95%;
                    vertical-align: top;
                    p{
                        display: block;
                        font-size: 17px;
                        line-height: 24px;
                        color: #3B4859;
                        font-weight: 400;
                        margin-bottom: 7px;
                    }
                    span{
                        display: block;
                        font-size: 13px;
                        line-height: 16px;
                        color: #3B4859;
                        font-weight: 400;
                    }
                }
                .edit-button{
                    display: inline-block;
                    width: 5%;
                    text-align: right;
                    vertical-align: top;
                    button{
                        color: #2a9ce7;
                        background-color: transparent;
                        padding: 0;
                        font-size: 18px;
                        line-height: 24px;
                        border: none;
                        margin-top: 3px;
                    }
                }
            }
        }
        .result-tested{
            display: block;
            padding-top: 15px;
            ul{
                display: block;
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    display: inline-block;
                    padding-right: 10px;
                    font-size: 11px;
                    line-height: 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #3B4859;
                    span{
                        display: inline-block;
                        border: 1px solid #ced4da;
                        padding: 0 3px;
                        &.compliant{
                            background-color: #2f8044;
                            border-color: #2f8044;
                            color: #ffffff;
                        }
                    }
                }
            }
            font-size: 12px;

        }
    }    

    
}

