.set-policy-container {
  width: 100%;
  display: block;
  padding: 30px 45px;
  .list-heading {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h3 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      color: #383874;
      margin-bottom: 0;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 30%;
    }

    .breadcrumbs {
      display: inline-flex;
      width: auto;
      margin-left: auto;

      ul {
        list-style: none;
        display: flex;

        li {
          display: inline-flex;
          padding-left: 3px;
          padding-right: 3px;
          line-height: 32px;
          align-items: center;
          font-size: 12px;
          color: #8676ff;
          font-weight: 400;
          &.active {
            font-weight: 600;
            cursor: auto;
            color: #414d55;
          }

          a {
            color: #8676ff;
          }

          i {
            font-size: 10px;
            color: #414d55;
          }
        }
      }
    }

    .primary-btn {
      margin-left: auto;
    }
  }
  .overview-section {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    .overview-card {
      padding: 25px;
      border-radius: 10px;
      background: #ffffff;
      h5 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: #383874;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #383874;
      }
    }

   
  }

  .policy-section {
    h4 {
      display: block;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: #383874;
    }
    .overview-buttons {
      display: flex;
      height: 100%;
      align-items: end;
      justify-content: end;
      ul {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          list-style: none;
          padding: 0;
          margin-right: 15px;
          width: auto;
          &:last-child{
            margin-right: 0;
          }

        }
      }
    }
    .policy-permission {
      width: 100%;
      display: block;
      margin-top: 20px;
      .policy-permission-head {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 15px 30px;
        background-color: #ffffff;
        height: 65px;
        .title {
          display: block;
          font-size: 16px;
          line-height: 20px;
          font-weight: 500;
          color: #383874;
        }
      }
    }
    .environment-table {
      display: block;
      background-color: #ffffff;
      margin-top: 20px;
      padding: 0;
      overflow: auto;
      border-radius: 10px;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  
      .table {
        display: block;
        width: 100%;
  
        thead {
          padding-top: 0px;
          padding-bottom: 0px;
          display: table;
          width: calc(100% - 0.0em)
            /* scrollbar is average 1em/16px width, remove it from thead width */;
          tr {
            display: inline-table;
            width: 100%;
            table-layout: fixed;
            
  
            th {
              display: flex;
              align-items: center;
              padding-top: 15px;
              padding-bottom: 15px;
              padding-left: 15px;
              padding-right: 15px;
              font-size: 14px;
              font-weight: 400;
              color: #171C26;
              border: none;
              font-family: "Poppins", sans-serif;
              background-color: #E9EDF5;
  
              strong {
                color: #383874;
                font-weight: 600;
                font-size: 15px;
                text-transform: uppercase;
              }
              span{
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                border: 1px solid #464F60;
               margin-right: 10px;
              
               i{
                font-size: 10px;
                line-height: 18px;
                color: #464F60;
               }
              }
            }
          }
        }
  
        tbody {
          display: block;
          max-height: 300px;
          overflow: auto;
          //width: calc(100% - 1.2em);
  
          tr {
            display: table;
            width: 100%;
            //table-layout: fixed;
            &:hover{
              background-color: #f7f9fc;
            }
            td {
              display: flex;
              align-items: center;
              padding: 12px 15px 12px 30px;
              font-size: 13px;
              font-weight: 500;
              color: #101828;
              position: relative;
              border-bottom: 1px solid #eaecf0;
              font-family: "Poppins", sans-serif;
              position: relative;
              &::before{
                content: "";
                width: 1px;
                height: 90%;
                background: #D5DBE5;
                position: absolute;
                top: 0;
                left: 20px;

              }
             
              span{
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                border: 1px solid #868FA0;
               margin-right: 10px;
              
               i{
                font-size: 10px;
                line-height: 18px;
                color: #868FA0;
               }
              }
            }
          }
        }
      }
    }
  }
}
