.setting-container {
  width: 100%;
  display: block;

  .page-header {
    padding: 30px 45px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h3 {
      display: inline-flex;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      color: #383874;
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }

  .tabs {
    display: block;
    width: 100%;

    .tabs-menu {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #ffffff;

      li {
        padding-bottom: 16px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #383874;
        cursor: pointer;
        width: auto;
        display: inline-flex;
        position: relative;

        &::after {
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          content: "";
          opacity: 0;
          position: absolute;
          background-color: #8676ff;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          box-shadow: rgba(134, 118, 255, 0.15) 0px 2px 1px,
            rgba(134, 118, 255, 0.15) 0px 4px 2px,
            rgba(134, 118, 255, 0.15) 0px 8px 4px,
            rgba(134, 118, 255, 0.15) 0px 16px 8px,
            rgba(134, 118, 255, 0.15) 0px 32px 16px;

          //box-shadow: 0px 100px 80px 0px #0f59ff5c;
        }

        &.active {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    .tabs-content {
      padding: 30px 60px;
      background-color: #f6f7fb;
    }
  }

  .account-container {
    display: block;
    width: 100%;
    text-align: center;

    .head {
      display: block;
      width: 100%;
      margin-bottom: 40px;

      h4 {
        font-size: 22px;
        line-height: 24px;
        font-weight: 500;
        color: #344054;
        margin: 0;
      }

      p {
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        color: #667085;
        margin: 10px 0 0 0;
      }
    }

    .cards {
      display: inline-block;
      width: auto;

      .card {
        width: 290px;
        min-height: 260px;
        border-radius: 10px;
        background: #ffffff;
        padding: 20px 30px;
        border: 2px solid transparent;
        cursor: pointer;

        &.active {
          border-color: #384cff;
        }

        .card-image {
          margin-bottom: 15px;
          min-height: 100px;

          img {
            max-width: 100px;
          }
        }

        .card-title {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          color: #344054;
          margin-top: 10px;
        }

        .card-text {
          margin-top: 10px;
          font-size: 11px;
          font-weight: 400;
          line-height: 14px;
          color: #667085;
        }
      }
    }

    .bottom-button {
      margin-top: 30px;
    }
  }

  .permissions-container {
    display: block;
    width: 100%;

    .heading {
      display: block;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      color: #383874;
    }

    .access-control-boxs {
      display: flex;
      width: 100%;
      padding: 20px 0;

      .control-box {
        width: 200px;
        max-width: 200px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 7px;
        margin-right: 20px;
        padding: 20px 10px;
        cursor: pointer;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        background-color: #ffffff;

        &.active {
          border-color: #384cff;
        }

        .icon {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          margin-right: 10px;
          border-radius: 50%;
          background-color: #f6f7fb;
          color: #383874;
        }

        .content {
          display: flex;
          flex-wrap: wrap;

          label {
            cursor: pointer;
            display: block;
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            color: #383874;
            margin-bottom: 5px;
          }

          strong {
            display: block;
            width: 100%;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            color: #383874;
          }
        }
      }
    }

    .access-control-container {
      display: block;
      width: 100%;

      .search-box {
        padding-bottom: 15px;

        .search {
          display: inline-flex;
          width: 270px;
          height: 36px;
          background-color: #eef0fa;
          border-radius: 7px;
          margin-right: 15px;

          input {
            display: inline-flex;
            width: 100%;
            border: none;
            background-color: transparent;
            padding-left: 15px;
            padding-right: 15px;
            color: #000000;
            font-size: 13px;
            line-height: 36px;
          }

          button {
            display: inline-flex;
            border: none;
            cursor: pointer;
            background-color: transparent;
            color: rgb(171, 173, 216);
            padding: 6px 7px 0;
          }
        }

        .primary-btn {
          padding-left: 15px;
          padding-right: 15px;
          a {
            color: #ffffff;
          }
        }
      }

      .group-control-boxs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .group-box {
          display: inline-flex;
          flex-wrap: wrap;
          min-height: 250px;
          width: calc(280px - 20px);
          margin-right: 20px;
          margin-bottom: 20px;
          border-radius: 15px;
          border: 1px solid #e2e2ea;
          background: #ffffff;

          &:nth-child(5n + 1) {
            margin-left: 0;
          }

          .heading {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 5px 5px 5px 15px;
            border-bottom: 1px dotted #b3b3b3;
            position: relative;

            h4 {
              font-size: 14px;
              line-height: 18px;
              font-weight: 500;
              color: #383874;
              margin: 0;
            }

            .action-btn {
              padding: 5px 5px;
              border-radius: 5px;
              color: #9a9aaf;
              margin-left: auto;
              font-size: 12px;

              &:hover {
                background-color: #d1d5ff;
              }
            }

            .action-buttons-bg {
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              position: fixed;
              z-index: 1;
              background-color: transparent;
            }

            .action-buttons {
              position: absolute;
              z-index: 10;
              right: -50px;
              top: 40px;
              width: 140px;
              overflow: hidden;
              border-radius: 10px;
              background-color: #ffffff;
              box-shadow: 0px 41.777610778808594px 33.422088623046875px 0px
                #6c49ac0d;

              .secondary-text-btn {
                font-size: 12px;
                padding: 5px 10px;
                min-width: 100%;
                text-align: left;
                border-radius: 0;
                color: #383874;
                border-bottom: 1px solid #dbdff1;

                &:last-child {
                  border-bottom: none;
                }

                .MuiButton-startIcon {
                  font-size: 12px;
                  margin-left: 0;
                  line-height: 16px;
                  vertical-align: middle;
                  margin-right: 5px;
                }
              }
            }
          }

          .group-data {
            display: flex;
            width: 100%;
            padding: 10px 15px;

            .data {
              display: inline-flex;
              flex-wrap: wrap;
              width: 50%;

              label {
                font-size: 12px;
                line-height: 16px;
                font-weight: 500;
                color: #383874;
                display: flex;
                width: 100%;
                padding-bottom: 2px;
              }

              span {
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                color: #383874;
                display: flex;
                width: 36px;
                border-radius: 8px;
                text-align: center;
                justify-content: center;
                background-color: #f6f7fb;
                height: 24px;
                align-items: center;
              }

              .group-name {
                display: inline-flex;
                border: 1px solid #c6cbd9;
                border-radius: 70px;
                color: #383874;
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                position: relative;
                padding: 5px 10px 5px 20px;
                width: 100%;
                align-items: center;

                &::before {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  width: 5px;
                  height: 5px;
                  content: "";
                  border-radius: 50px;
                  background-color: #8676ff;
                }
              }
            }
          }

          .description-text {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            padding: 5px 15px 10px 15px;

            label {
              font-size: 12px;
              line-height: 16px;
              font-weight: 500;
              color: #383874;
              display: flex;
              width: 100%;
              padding-bottom: 2px;
            }

            p {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              color: #383874;
              display: flex;
              width: 100%;
              margin: 0;
            }
          }

          .view-btn {
            display: flex;
            width: 100%;
            padding-bottom: 15px;
            justify-content: center;
            align-items: center;

            .primary-btn {
              padding-left: 15px;
              padding-right: 15px;

              a {
                color: #ffffff;
              }
            }
          }

          .roles-box {
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            background: #00b929;
            display: inline-block;
            padding: 4px 10px;
            border-radius: 5px;
            margin-left: 10px;
            color: #ffffff;

            span {
              display: flex;
              align-items: center;
            }

            img {
              margin-right: 5px;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.setting-modal-container {
  max-width: 380px !important;
  box-shadow: 0px 0px 16px rgba(59, 72, 89, 0.2392156863);
  border-radius: 10px;
  background: white;
  margin: 0 auto;

  .modal-content {
    padding: 30px 30px;

    .modal-header {
      margin-bottom: 20px;
      border: none;

      .modal-title {
        text-align: left !important;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;

        h5 {
          display: flex;
          width: 100%;
          color: #344054;

          button {
            margin-left: auto;
            cursor: pointer;
            border: none;
            background-color: transparent;
          }
        }

        p {
          display: flex;
          width: 100%;
          font-size: 11px;
          color: #344054;
        }
      }
    }

    .modal-body {
      .form-group {
        width: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 15px;

        .form-label {
          display: flex;
          width: 100%;
          font-size: 14px;
          color: #344054;
          line-height: 20px;
          font-weight: 500;
          margin-bottom: 5px;
          padding-left: 0;
        }

        .form-control {
          display: flex;
          width: 100%;
          height: 36px;
          padding: 5px 15px 5px 15px;
          border: 1px solid #d0d5dd;
          background: linear-gradient(0deg, #ffffff, #ffffff);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          border-radius: 5px;
          font-size: 13px;
          line-height: 26px;
          font-weight: 400;
          color: #344054;
          font-family: "Poppins", sans-serif;
        }

        .select-policy {
          width: 100%;

          .MuiOutlinedInput-root {
            width: 100%;
            height: 36px;
            padding: 5px 15px 5px 15px;
            border-color: #d0d5dd;

            .MuiSelect-select {
              padding: 0;
              font-size: 13px;
              line-height: 26px;
              font-weight: 400;
            }

            &:focus-visible {
              border-color: #d0d5dd;
              box-shadow: none;
            }
          }
        }

        .input-group-text {
          position: absolute;
          top: 30px;
          right: 15px;
          cursor: pointer;

          i {
            color: #dadada;
            font-size: 14px;
          }

          &.rotate {
            right: 45px;

            i {
              color: #8676ff;
            }

            &:hover {
              i {
                color: #384cff;
              }
            }
          }

          &:hover {
            i {
              color: #344054;
            }
          }
        }
      }

      .password-strength-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;

        span {
          width: 25%;
          height: 6px;
          margin-left: 2px;
          margin-right: 2px;
          display: inline-flex;
          background: rgba(198, 203, 217, 1);
          border-radius: 5px;

          &.good {
            background: rgba(250, 162, 75, 1);
          }

          &.strong {
            background-color: rgba(0, 85, 0, 1);
          }
        }
      }

      p {
        font-size: 11px;
        line-height: 18px;
        font-weight: 500;
        color: rgba(102, 112, 133, 1);
      }

      .scanner-image {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        img {
          max-width: 150px;
        }
      }

      .list-contents {
        padding-bottom: 20px;
        width: 86%;
        margin: 0 auto;

        li {
          display: block;
          padding-left: 12px;
          padding-right: 0;
          padding-top: 2px;
          padding-bottom: 2px;
          font-size: 11px;
          font-weight: 400;
          align-items: flex-start;
          position: relative;
          color: rgba(102, 112, 133, 1);

          span {
            position: absolute;
            left: 0;
            top: 2px;
          }

          strong {
            font-weight: 600;
          }

          a {
            color: #384cff;
            font-weight: 600;
          }
        }
      }

      .digit-code {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 40px;

        .digit-input {
          display: flex;
          margin-top: 10px;
          margin-bottom: 20px;

          .form-control {
            width: 34px !important;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 2px;
            margin-right: 2px;
            text-align: center;
            border: 1px solid rgba(27, 77, 255, 0.93);
          }
        }
      }
    }

    .modal-footer {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }

  &.permissions-modal {
    .modal-content {
      padding: 15px;

      .modal-footer {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.add-permition-modal {
    width: 380px;

    .modal-content {
      .modal-header {
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: 1px dashed #000000;
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: 1px dashed #000000;

        .modal-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h5 {
            display: inline-block;
            width: auto;
          }
        }
      }

      .modal-body {
        padding: 15px 0 20px 0;

        h5 {
          margin-bottom: 20px;
        }

        .form-group {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .form-label {
            display: inline-block;
            width: auto;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.delete-policy-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .leave-heading {
      color: #3772ff;
    }

    .delete-icon {
      margin: 0 auto 15px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #ffebeb;
      color: #e53535;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 40px;
      }
    }
    .cancel-icon {
      margin: 15px auto;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #ebeff7;
      color: #3772ff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-footer {
      padding-top: 10px;
      padding: 0;

      .danger-btn {
        width: 150px;
      }

      .secondary-btn {
        width: 150px;
      }
      .primary-btn {
        width: 150px;
      }
    }
  }
}

.invite-user-modal-container {
  width: 600px !important;
  box-shadow: 0px 0px 16px rgba(59, 72, 89, 0.2392156863);
  border-radius: 10px;
  background: white;
  margin: 0 auto;

  .modal-content {
    padding: 30px 30px;

    .modal-header {
      margin-bottom: 15px;
      padding-bottom: 15px;
      margin-left: -30px;
      margin-right: -30px;
      padding-left: 30px;
      padding-right: 30px;

      .modal-title {
        text-align: left !important;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;

        h5 {
          display: flex;
          width: 100%;
          color: #344054;

          button {
            margin-left: auto;
            cursor: pointer;
            border: none;
            background-color: transparent;
          }
        }
      }
    }

    .modal-body {
      // .sign-right-content {
      //   width: 100%;
      //   flex-wrap: wrap;
      //   //display: inline-flex;

      //   .steps-container {
      //     display: flex;
      //     width: 100%;
      //     padding: 0;
      //     margin: 0 0 30px 0;
      //     list-style: none;
      //     align-items: center;
      //     justify-content: space-between;

      //     li {
      //       position: relative;
      //       display: inline-flex;
      //       font-size: 0px;
      //       // text-indent: -99990px;
      //       width: 30px;
      //       height: 30px;
      //       padding: 4px;
      //       border-radius: 50%;
      //       background-color: #f0f0f0;
      //       span{
      //         font-size: 14px;
      //         color: #000000;
      //         position: absolute;
      //         top: 0;
      //         width: 100%;

      //       }

      //       &:first-child {
      //         margin-left: 0;

      //         &::after {
      //           display: none;
      //         }
      //       }

      //       // &::before {
      //       //   position: absolute;
      //       //   left: 0;
      //       //   top: 0;
      //       //   width: 30px;
      //       //   height: 30px;
      //       //   content: "";
      //       //   border-radius: 50%;
      //       //   border: 1px solid #00B929;
      //       //   //background: #F0F0F0;
      //       // }

      //       &::after {
      //         position: absolute;
      //         top: 14px;
      //         right: 30px;
      //         content: "";
      //         width: 225px;
      //         height: 2px;
      //         background-color: #f0f0f0;
      //       }
      //       &.active {
      //         background-color: #00b929;
      //         &::before {
      //           content: "f00c";
      //           position: absolute;
      //           left: 0;
      //           top: 0;
      //           font-family: "FontAwesome";
      //           color: #f0f0f0;
      //           z-index: 100;
      //         }

      //         &::after {
      //           background-color: #00b929;
      //         }
      //       }
      //     }
      //   }
      // }
      .stepar-content {
        width: 100%;
        display: block;
        .steper-label {
          font-size: 12px;
          line-height: 18px;
          font-weight: 500;
          color: #383874;
          text-align: center;
          margin-bottom: 5px;
        }
        .steper-button {
          padding: 0;
          width: 150px;
          .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
            color: #00b929;
          }
          .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
            color: #00b929;
          }
        }
        .css-j5w0w9-MuiStepConnector-root {
          margin-top: 25px;
          .css-z7uhs0-MuiStepConnector-line {
            display: block;
            border-color: #bdbdbd;
            border-top-style: solid;
            border-top-width: 2px;
            margin-right: -51px;
            margin-left: -59px;
          }
        }
      }
      .users-content {
        .title {
          display: block;
          margin-bottom: 5px;
          .form-label {
            font-size: 14px;
            color: #344054;
            line-height: 20px;
            font-weight: 500;
            margin-bottom: 5px;
            padding-left: 0;
          }
        }

        .form-group {
          margin-bottom: 15px;
          .form-control {
            width: 255px;
            height: 36px;
            padding: 5px 15px;
            border: 1px solid #d0d5dd;
            background: linear-gradient(0deg, #ffffff, #ffffff);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            border-radius: 5px;
            font-size: 13px;
            line-height: 26px;
            font-weight: 400;
            color: #344054;
            font-family: "Poppins", sans-serif;
          }
        }

        .add-user {
          .compliance-btn {
            text-transform: capitalize;
            background-color: #dde1f8;
            color: #383874;
            font-weight: 600;
            font-size: 13px;
            line-height: 24px;
            box-shadow: none;
            text-transform: none;
            letter-spacing: 0px;
            border-radius: 5px;
          }
        }
        .adduser-top-section {
          margin-bottom: 20px;
          h4 {
            margin-bottom: 0;
            margin-top: 0;
          }
          .top-search {
            position: relative;
            .form-control {
              width: 100%;
              height: 40px;
              font-size: 14px;
              line-height: 20px;
              font-weight: 500;
              margin-top: 10px;
              color: #8676ff;
              padding: 10px 50px 10px 20px;
              margin-bottom: 10px;
              border: none;
              background-color: #eef0fa;
              border-radius: 8px;
            }
            ::placeholder {
              color: #8676ff;
              opacity: 1; /* Firefox */
            }

            ::-ms-input-placeholder {
              /* Edge 12-18 */
              color: #8676ff;
            }
            button {
              position: absolute;
              top: 8px;
              right: 15px;
              display: inline-flex;
              border: none;
              background-color: transparent;
              color: #a1a3d4;
            }
          }
          .overview-buttons {
            display: flex;
            height: 100%;
            align-items: end;
            justify-content: end;
            ul {
              display: flex;
              align-items: center;
              justify-content: end;
              padding: 0;
              margin: 0;
              li {
                display: inline-block;
                list-style: none;
                padding: 0;
                margin-right: 15px;
                width: auto;
                &:last-child {
                  margin-right: 0;
                }
                .primary-btn {
                  a {
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
        .user-review {
          .form-group {
            margin-bottom: 15px;
            .form-label {
              font-size: 14px;
              color: #344054;
              line-height: 20px;
              font-weight: 500;
              margin-bottom: 5px;
              padding-left: 0;
            }
            .form-control {
              width: 100%;
              height: 36px;
              margin-top: 5px;
              padding: 5px 15px;
              border: 1px solid #d0d5dd;
              background: linear-gradient(0deg, #ffffff, #ffffff);
              box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
              border-radius: 5px;
              font-size: 13px;
              line-height: 26px;
              font-weight: 400;
              color: #344054;
              font-family: "Poppins", sans-serif;
            }
          }
        }
      }
    }

    .modal-footer {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
}

.add-policy-modal-container {
  width: 800px !important;
  box-shadow: 0px 0px 16px rgba(59, 72, 89, 0.2392156863);
  border-radius: 10px;
  background: white;
  margin: 0 auto;

  .modal-content {
    padding: 30px 30px;

    .modal-header {
      padding-bottom: 15px;
      border: none;

      .modal-title {
        text-align: left !important;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;

        h5 {
          display: flex;
          width: 100%;
          color: #344054;

          button {
            margin-left: auto;
            cursor: pointer;
            border: none;
            background-color: transparent;
          }
        }
      }
    }

    .top-search {
      position: relative;

      .form-control {
        width: 100%;
        height: 40px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        margin-top: 10px;
        color: #8676ff;
        padding: 10px 50px 10px 20px;
        margin-bottom: 10px;
        border: none;
        background-color: #eef0fa;
        border-radius: 8px;
      }

      ::placeholder {
        color: #8676ff;
        opacity: 1;
        /* Firefox */
      }

      ::-ms-input-placeholder {
        /* Edge 12-18 */
        color: #8676ff;
      }

      button {
        position: absolute;
        top: 8px;
        right: 15px;
        display: inline-flex;
        border: none;
        background-color: transparent;
        color: #a1a3d4;
      }
    }

    .policy-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .policy-boxs {
      display: block;
      width: 100%;
      max-height: 400px;
      overflow: hidden;
      overflow-y: auto;

      .policy-box {
        width: 100%;
        border-radius: 10px;
        padding: 8px 12px 12px 12px;
        border: 1px solid #e2e2ea;
        margin-bottom: 15px;

        .head {
          margin-left: -10px;
          margin-right: -10px;
          padding-left: 10px;
          padding-right: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px dashed #b3b3b3;
          padding-bottom: 8px;

          .title {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: #383874;
          }
        }

        .policy-list-content {
          width: 100%;
          padding-top: 10px;

          .title {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #383874;
          }

          ul {
            padding: 5px 0 0 20px;
            margin: 0;

            li {
              font-size: 12px;
              line-height: 16px;
              font-weight: 500;
              color: #383874;
              list-style: disc;
              padding: 0;
              margin-bottom: 8px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.permission-container {
  .services-panel-tabs {
    display: block;
    width: 100%;
    margin-top: 25px;

    .tabs-head {
      display: block;
      width: 100%;
      text-align: center;

      ul {
        display: inline-block;
        width: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 30px;
        background-color: #dbdff1;

        li {
          width: auto;
          display: inline-block;
          vertical-align: top;
          font-size: 11px;
          line-height: 20px;
          font-weight: 500;
          color: #000000;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 30px;
          padding-right: 30px;
          border-radius: 30px;
          cursor: pointer;

          &.active {
            color: #ffffff;
            background-color: #3247e5;
          }
        }
      }
    }

    .permission-tabs-content {
      display: block;
      width: 100%;
      margin-top: 25px;
      .check-box {
        color: #2d96ee;
      }
      .green-btn {
        color: #ffffff;
        background: #00b929;
        font-size: 12px;
        font-weight: 700;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .setting-container {
    .permissions-container {
      .access-control-container {
        .group-control-boxs {
          .group-box {
            width: calc(25.3333% - 20px);

            &:nth-child(5n + 1) {
              margin-left: 20px;
            }

            &:nth-child(4n + 1) {
              margin-left: 0px;
            }

            .heading {
              h4 {
                font-size: 12px;
              }
            }

            .group-data {
              .data {
                label {
                  font-size: 10px;
                }

                span {
                  font-size: 12px;
                }
              }
            }

            .description-text {
              p {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}

.popup-tooltip {
  ul {
    padding: 0;

    li {
      display: block;
      color: #ffffff;
      font-size: 11px;
      line-height: 14px;
      font-weight: 400;
      padding: 0;
      margin: 2px 0;
    }
  }
}
