.super-admin-container {
  width: 100%;
  display: block;
  padding: 30px 45px;
  .list-heading {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h3 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      color: #383874;
      margin-bottom: 0;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 30%;
    }

    .breadcrumbs {
      display: inline-flex;
      width: auto;
      margin-left: auto;

      ul {
        list-style: none;
        display: flex;

        li {
          display: inline-flex;
          padding-left: 3px;
          padding-right: 3px;
          line-height: 32px;
          align-items: center;
          font-size: 12px;
          color: #8676ff;
          font-weight: 400;
          &.active {
            font-weight: 600;
            cursor: auto;
            color: #414d55;
          }

          a {
            color: #8676ff;
          }

          i {
            font-size: 10px;
            color: #414d55;
          }
        }
      }
    }

    .primary-btn {
      margin-left: auto;
    }
  }
  .overview-section {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    .overview-card {
      padding: 25px;
      border-radius: 10px;
      background: #ffffff;
      h5 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: #383874;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #383874;
      }
    }

    .overview-buttons {
      display: flex;
      height: 100%;
      align-items: end;
      justify-content: end;
      ul {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          list-style: none;
          padding: 0;
          margin-right: 15px;
          width: auto;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .tabs {
    display: block;
    width: 100%;

    .tabs-menu {
      width: 100%;
      padding-bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid #c6cbd9;

      li {
        padding-bottom: 16px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #383874;
        cursor: pointer;
        width: auto;
        display: inline-flex;
        position: relative;

        &::after {
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          content: "";
          opacity: 0;
          position: absolute;
          background-color: #8676ff;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          box-shadow: rgba(134, 118, 255, 0.15) 0px 2px 1px,
            rgba(134, 118, 255, 0.15) 0px 4px 2px,
            rgba(134, 118, 255, 0.15) 0px 8px 4px,
            rgba(134, 118, 255, 0.15) 0px 16px 8px,
            rgba(134, 118, 255, 0.15) 0px 32px 16px;

          //box-shadow: 0px 100px 80px 0px #0f59ff5c;
        }

        &.active {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    .tabs-content {
      padding: 10px 0 0 0;
      background-color: #f6f7fb;
      .access-control-table {
        .roles-box {
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
          background: #00b929;
          display: inline-block;
          padding: 4px 10px;
          border-radius: 5px;
          margin-left: 10px;
          color: #ffffff;

          span {
            display: flex;
            align-items: center;
          }

          img {
            margin-right: 5px;
            height: 100%;
          }
        }
      }
      .environment-table {
        display: block;
        background-color: #ffffff;
        padding: 0;
        overflow: auto;
        border-radius: 10px;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);

        .table {
          display: block;
          width: 100%;

          thead {
            padding-top: 0px;
            padding-bottom: 0px;
            display: table;
            width: calc(100% - 0em)
              /* scrollbar is average 1em/16px width, remove it from thead width */;
            tr {
              display: inline-table;
              width: 100%;
              table-layout: fixed;

              th {
                font-weight: 500;
                color: #000000;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 12px;
                padding-bottom: 12px;
                font-size: 14px;
                font-family: "Poppins", sans-serif;
                border-bottom-color: #b3b3b3;
                border-bottom-style: dotted;
                //background-color: #e9edf5;

                strong {
                  display: inline-block;
                  color: #383874;
                  font-weight: 600;
                  font-size: 15px;
                }
                span {
                  width: 20px;
                  height: 20px;
                  min-width: 20px;
                  max-height: 20px;
                  display: inline-block;
                  line-height: 12px;
                  border-radius: 50%;
                  border: 1px solid #464f60;
                  margin-right: 10px;
                  text-align: center;

                  i {
                    font-size: 10px;
                    line-height: 18px;
                    color: #464f60;
                  }
                }
              }
            }
          }

          tbody {
            display: block;
            max-height: 300px;
            overflow: auto;
            //width: calc(100% - 1.2em);

            tr {
              display: table;
              width: 100%;
              //table-layout: fixed;
              border-bottom: 1px solid #eaecf0;
              &:hover {
                background-color: #f7f9fc;
              }
              &::before {
                content: "";
                width: 1px;
                height: 90%;
                background: #d5dbe5;
                position: absolute;
                top: 0;
                left: 20px;
              }
              td {
                font-weight: 400;
                color: #383874;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 12px;
                line-height: 18px;
                font-family: "Poppins", sans-serif;
                border-bottom-color: #eaecf0;
                border-bottom-style: solid;
                position: relative;

                span {
                  width: 20px;
                  height: 20px;
                  min-width: 20px;
                  max-height: 20px;
                  display: inline-block;
                  line-height: 12px;
                  border-radius: 50%;
                  border: 1px solid #464f60;
                  margin-right: 10px;
                  text-align: center;

                  i {
                    font-size: 10px;
                    line-height: 18px;
                    color: #464f60;
                  }
                }
                .roles-box {
                  font-size: 12px;
                  line-height: 16px;
                  font-weight: 400;
                  background: #00b929;
                  display: inline-block;
                  padding: 4px 10px;
                  border-radius: 5px;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}
