
.alert-modal-container {
  .modal-content {
    .modal-body{
      padding: 0px 10px;
      color: #3b4859;
    }
    .modal-footer{
      .blue-button{
        border-radius: 7px!important;
      }
      .gray-button{
        border-radius: 7px!important;
      }
      .white-button{
        border-radius: 7px!important;
      }
    }
  }
}