.script-editor {
  padding-right: 20px;
  .script-editor-top-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .script-editor-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .script-editor-btn {
    text-align: left;
    float: left;

    .alert-white-button {
      margin-bottom: 10px;
    }
  }
}
