/*********************************** Buttons *********************************/
.white-button {
    background: white!important;
    min-width: 100px;
    color: #3b4859!important;
    border: none!important;
    padding: 7px 18px!important;
    border-radius: 2px!important;
    margin-right: 10px;
    display: inline-block!important;
    text-align: center;
    border: 1px solid #e6e6e6!important;
    &:hover, &:focus {
        background: #e6e6e6!important;
        color: #3b4859!important;
    }

    i {
        color: #57a4ff !important;
    }
}

.blue-button {
    background: #3b7cff!important;
    color: #ffffff!important;
    border: none!important;
    padding: 7px 18px!important;
    border-radius: 2px!important;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block!important;
    min-width: 100px;
    text-align: center;

    &:hover, &:focus {
        background: #0f5efd !important;
        color: #ffffff!important;
        outline: none;
    }
}

.gray-button {
    background: #dde4e9!important;
    color: #8392a7!important;
    border: none!important;
    padding: 7px 18px!important;
    border-radius: 2px!important;
    margin-right: 10px;
    display: inline-block!important;
    min-width: 100px;
    text-align: center;

    &:hover, &:focus {
        background: #dbe0e4 !important;
        color: #8392a7 !important;
    }
}