.asset-container {
  .tagging-wizard-container {
    .add-tagging-contant {
      padding: 20px;
      .associate-head {
        border-bottom: 1px dashed #a2c0d4;
      }
      .select-resources {
        p {
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: #414d55;
        }
        .resources-box {
          min-height: 500px;
          border-radius: 5px;
          border: 0.5px solid #909292;
          .resources-title {
            padding: 8px 10px;
            border-bottom: 1px solid #909292;
          }
          .resources-contant {
            padding: 5px;
            .collection-details {
              .container-inner {
                .collection-data-table {
                  width: 100%;
                  background-color: #ffffff;
                  font-size: 13px;
                  line-height: 24px;
                  .tbody{
                    display: block;
                    width: 100%;
                    &:nth-child(odd ){
                      .tbody-inner{
                        background-color: #f8f9fb;
                      }
                    }
                    .tbody-inner{
                      display: block;
                      width: 100%;
                    }
                    .tbody-td{
                      display: inline-block;
                      padding: 10px 10px;
                      color: #3b4859;
                      font-weight: 500;
                      vertical-align: top;
                      &.first{
                        display: block;
                        width: 100%;
                        padding-left: 35px;
                      }
                    }
                    .collapse{
                      .tbody{
                        &:nth-child(even){
                          background-color: #f8f9fb;
                        }
                      }
                    }
                  }
                  .caret-right {
                    display: inline-block;
                    vertical-align: middle;
                    width: 13px;
                    height: 13px;
                    border: 2px solid #8392a7;
                    background: transparent;
                    margin-top: 0;
                    margin-right: 10px;
                    cursor: pointer;
                    border-radius: 2px;
                  }
                  .caret-down {
                    display: inline-block;
                    vertical-align: middle;
                    width: 13px;
                    height: 13px;
                    background: #8392a7;
                    margin-top: 0;
                    margin-right: 10px;
                    cursor: pointer;
                    border-style: none;
                    border-width: 0;
                    border-color: none;
                    border-radius: 2px;
                  }
                }
              }
            }
          }
          .existing-tags-contant {
            padding: 5px;
            .existing-tags-text {
              padding: 8px 10px;
              background-color: #f8f9fb;
              p {
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #39475b;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
