.asset-container {
  .tagging-wizard-container {
    .add-tagging-contant {
      padding: 20px;
      .associate-head {
        border-bottom: 1px dashed #a2c0d4;
      }
      .select-resources {
        p {
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: #414d55;
        }
        .resources-box {
          min-height: 100%;
          border-radius: 5px;
          border: 0.5px solid #909292;
          .resources-title {
            padding: 8px 10px;
            border-bottom: 1px solid #909292;
          }
          .resources-contant {
            padding: 5px;
            .data-table {
              display: block;
              width: 100%;
              tr {
                display: block;
                width: 100%;
                td {
                  width: 100%;
                  display: block;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 16px;
                  padding: 0;

                  .table-contant {
                    background-color: #f8f9fb;
                    padding: 5px 0px 5px 15px;
                  }
                  .inner {
                    tr {
                      &:nth-child(odd) {
                        .table-contant {
                          background-color: #fff;
                          padding: 5px 0px 5px 30px;
                        }
                      }
                    }
                    .table-contant {
                      background-color: #f8f9fb;
                      padding: 5px 0px 5px 30px;
                    }
                    .inner {
                      tr {
                        &:nth-child(odd) {
                          .table-contant {
                            background-color: #f8f9fb;
                            padding: 5px 0px 5px 45px;
                          }
                        }
                      }
                      tr{
                        .table-contant {
                          background-color: #fff;
                          padding: 5px 0px 5px 45px;
                        }
                      }
                      .inner {
                        tr {
                          &:nth-child(odd) {
                            .table-contant {
                              background-color: #fff;
                              padding: 5px 0px 5px 60px;
                            }
                          }
                        }
                        tr{
                          .table-contant {
                            background-color: #f8f9fb;
                            padding: 5px 0px 5px 60px;
                          }
                        }
                        .inner {
                          tr {
                            &:nth-child(odd) {
                              .table-contant {
                                background-color: #f8f9fb;
                                padding: 5px 0px 5px 75px;
                              }
                            }
                          }
                          tr{
                            .table-contant {
                              background-color: #fff;
                              padding: 5px 0px 5px 75px;
                            }
                          }
                          .inner {
                            tr {
                              &:nth-child(odd) {
                                .table-contant {
                                  background-color: #fff;
                                  padding: 5px 0px 5px 90px;
                                }
                              }
                            }
                            tr{
                              .table-contant {
                                background-color: #f8f9fb;
                                padding: 5px 0px 5px 90px;
                              }
                            }
                            
                            .inner {
                              tr {
                                &:nth-child(odd) {
                                  .table-contant {
                                    background-color: #f8f9fb;
                                    padding: 5px 0px 5px 105px;
                                  }
                                }
                              }
                              tr{
                                .table-contant {
                                  background-color: #fff;
                                  padding: 5px 0px 5px 105px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .existing-tags-contant {
            padding: 5px;
            .existing-tags-text {
              padding: 8px 10px;
              background-color: #f8f9fb;
              p {
                font-size: 12px;
                line-height: 16px;
                font-weight: 500;
                color: #39475b;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
