.new-account-container {
    width: 100%;
    display: block;
    padding: 15px 20px;
    background-color: #f6f7fb;
  .page-heading {
    h3 {
      color: #383874;
    }
  }
  .opration-mode-section {
    width: 100%;
    display: block;
    margin-top: 50px;
    .opration-head-section {
      width: 100%;
      display: block;
      margin-top: 10px;
      h4 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color: #344054;
      }
      p {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #344054;
      }
    }
  }
  .opration-cards {
    width: 80%;
    margin: 30px auto;
    .opration-card {
        min-height: 450px;
      border-radius: 10px;
      background: #ffffff;
      padding: 15px 30px;
      &.active{
        border: 1px solid #384cff;
      }
      .card-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: #344054;
        margin-top: 15px;
      }
      p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #798294;
      }
      .available-features {
        label {
          font-size: 14px;
          line-height: 18px;
          font-weight: 600;
          color: #344054;
          margin-bottom: 10px;
        }
        ul {
          width: 80%; 
          display: block;
          padding: 0;
          margin: 0 auto;
          li {
            text-align: left;
            list-style: disc;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: #798294;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
