.form {
    .form-details {
        margin: 20px auto;
        background-color: white;
        padding: 20px;

        .data-button {
            .loadibg-btn {
                height: 37px;
            }
        }
    }

}